footer.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0 16px 0;
    border-top: 2px dotted var(--lightGray);
    font-family: 'Fira Code';
    font-weight: bold;
    font-size: var(--largeFont);
    color: var(--midGray);
}

ul.footer__menu {
    display: flex;
    align-items: center;
    text-transform: capitalize;
    padding-left: 16px;
}

ul.footer__menu li:not(:last-of-type) {
    margin-right: 16px;
}

@media screen and (max-width: 476px) {
    ul.footer__menu li:not(:last-of-type){
        margin-right: unset;
    }

    ul.footer__menu li {
        margin-left: 12px;
    }

    ul.footer__menu {
        flex-wrap: wrap;
        justify-content: flex-end;
    }
}