<footer class="footer">
    <div class="footer__copyright">
        <span>&copy;2020 MySite.github.io</span>
    </div>
    <ul class="footer__menu">
        <li><a class="basicLink" href="#"><i class="fab fa-youtube"></i></a></li>
        <li><a class="basicLink" href="#"><i class="fab fa-twitter"></i></a></li>
        <li><a class="basicLink" href="#"><i class="fab fa-vk"></i></a></li>
        <li><a class="basicLink" href="#"><i class="fab fa-reddit"></i></a></li>
        <li><a class="basicLink" href="#"><i class="fas fa-envelope"></i></a></li>
    </ul>
</footer>