<header class="header">
    <div class="header__logo">
        <a href="/"><img src="https://via.placeholder.com/350x150" alt="Header Logo"></a>
    </div>
    <ul class="header__menu">
        <li>
            {% for item in site.data.navigation.links %}
            <a class="contentLink basicLink {% if item.url == page.url %} chosenOne {% endif %}" href="{{item.url}}">{{item.title}}</a>
            {% endfor %}
        </li>
        <li>
            {% for item in site.data.navigation.links %}
            <a class="contentLink basicLink {% if item.url == page.url %} chosenOne {% endif %}" href="{{item.url}}">{{item.title}}</a></li>
            {% endfor %}
        <li>
            {% for item in site.data.navigation.links %}
            <a class="basicLink {% if item.url == page.url %} chosenOne {% endif %}" href="{{item.url}}">{{item.title}}</a>
            {% endfor %}
        </li>
    </ul>
</header>