---
layout: page
---
<div class="main__image thumbnail">
    <img src="{{ page.main_image }}" alt="{{ page.title }}">
</div>
<h1 class="article__title">{{ page.title }}</h1>
<p class="article__info">{{ page.sidebar_release }} // {{ page.category }}</p>
<div class="content">
    <div class="article">
        <p class="article__paragraph">
            {{ content }}
        </p>
        <div class="video__container">
            <iframe src="{{ page.featuredVideo_url }}"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
    </div>
    <div class="sidebar">
        <div class="sidebar__info">
            <h3 class="section__title subtitle">About</h3>
            <div class="info__category">
                <span>Category:</span>
                <span class="contentText">{{ page.category }}</span>
            </div>
        </div>
        <div class="sidebar__related">
            {% assign maxPost = 5 %}
            {% assign minTags = 1 %}
            {% assign maxCount = 0 %}

            {% for post in site.posts %}
                {% assign sameTags = 0 %}
                {% assign commonTags = '' %}

                {% for category in posts.categories %}
                    {% if post.url != page.url %}
                        {% if page.categories contains category %}
                            {% assign sameTags = sameTags | plus: 1 %}
                            {% capture tagmarkup %}<h3 class="subtitle">{{ category }}</h3>{% endcapture %}
                            {% assign commonTags = commonTags | | append: tagmarkup %}
                        {% endif %}
                    {% endif %}
                {% endfor %}

                {% if sameTags >= minTags %}
                    <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
                    
                    {% assign maxCount = maxCount | plus: 1 %}   

                    {% if maxCount >= maxPosts %}
                        {% break %}
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>