---
layout: page
---
<div class="main__image thumbnail">
    <img src="{{ page.main_image }}" alt="{{ page.title }}">
</div>
<h1 class="article__title">{{ page.title }}</h1>
<p class="article__info">{{ page.sidebar_release }} // {{ page.category }}</p>
<div class="content">
    <div class="article">
        <p class="article__paragraph">
            {{ content }}
        </p>
        <div class="video__container">
            <iframe src="{{ page.featuredVideo_url }}"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
    </div>
    <div class="sidebar">
        <div class="sidebar__info">
            <h3 class="section__title subtitle">About</h3>
            <div class="info__category">
                <span>Category:</span>
                <span class="contentText">{{ page.category }}</span>
            </div>
        </div>
        <div class="sidebar__related">
            <h3 class="section__title subtitle">Related posts</h3>
            <div class="related__posts">
                {% assign firstCategory = page.categories | first %}
                {% assign postsCount = 0 %}
                {% for related__posts in site.categories[] %}
                    {% unless page.permalink == related__posts.permalink %}
                        {% assign postsCount = postsCount | plus: 1 %}
                        <a href="{{ related__posts.permalink }}">{{ related__posts.title }}</a>
                    {% endunless %}
                    {% if postsCount == 3 %}
                        {% break %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>