---
layout: defaultPages
---
<script src="/js/imageSlider.js"></script>
<div class="slider">
    <div class="slider__outer">
        <div class="slider__prev basicButton"><i class="fas fa-chevron-left"></i></div>
        <div class="slider__inner">
            <div class="slider__image thumbnail activeSlide" id="firstSlide">
                <img src="{{ page.slider_image_1 }}" alt="Slider Image 1">
            </div>
            <div class="slider__image thumbnail">
                <img src="{{ page.slider_image_2 }}" alt="Slider Image 2">
            </div>
            <div class="slider__image thumbnail" id="lastSlide">
                <img src="{{ page.slider_image_3 }}" alt="Slider Image 3">
            </div>
        </div>
        <div class="slider__next basicButton"><i class="fas fa-chevron-right"></i></div>
    </div>
</div>
<h1 class="project__title">{{ page.title }}</h1>
<div class="content">
    <div class="article">
        <div class="article_paragraph">
            {{ content }}
        </div>
        <div class="video__container">
            <iframe src="{{ page.featuredVideo_url }}"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
    </div>
    <div class="sidebar">
        <div class="sidebar__info">
            <h3 class="section__title subtitle">About</h3>
            <div class="info__category">
                <span>Category:</span>
                <span class="contentText">{{ page.category }}</span>
            </div>
            <div class="info__theme">
                <span>Theme:</span>
                <span class="contentText">{{ page.sidebar_theme }}</span>
            </div>
            <div class="info__type">
                <span>Type:</span>
                <span class="contentText">{{ page.sidebar_type }}</span>
            </div>
            <div class="info__engine">
                <span>Engine:</span>
                <span class="contentText">{{ page.sidebar_engine }}</span>
            </div>
            <div class="info__release">
                <span>Release date:</span>
                <span class="contentText">{{ page.sidebar_release }}</span>
            </div>
        </div>
        <div class="sidebar__featured">
            <h3 class="section__title subtitle">Featured</h3>
            <a class="basicLink" href="{{ page.sidebar_featuredLink }}">Official Star Wars Reddit</a>
        </div>
        <div class="sidebar__download">
            <h3 class="section__title subtitle">Download</h3>
            <a href="https://www.moddb.com/games/star-wars-battlefront-ii/downloads/star-wars-battlefront-ii-mod-tools-pc"
                title="Download Star Wars Battlefront II Mod Tools (PC) - Mod DB" target="_blank"><img
                    src="https://button.moddb.com/download/medium/101479.png"
                    alt="Star Wars Battlefront II Mod Tools (PC)" /></a>
        </div>
    </div>
</div>