---
layout: default
---
<div class="slider">
    <div class="slider__outer">
        <div class="slider__prev basicButton"><i class="fas fa-chevron-left"></i></div>
        <div class="slider__inner">
            <div class="slider__image thumbnail activeSlide" id="firstSlide">
                <img src="{{ project.slider_image_1 }}"
                    alt="Slider Image 1">
            </div>
            <div class="slider__image thumbnail">
                <img src="{{ project.slider_image_2 }}"
                    alt="Slider Image 2">
            </div>
            <div class="slider__image thumbnail" id="lastSlide">
                <img src="{{ project.slider_image_3 }}"
                    alt="Slider Image 3">
            </div>
        </div>
        <div class="slider__next basicButton"><i class="fas fa-chevron-right"></i></div>
    </div>
</div>

{{ content }}